<div>
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-primary px-3 mb-3" style="box-shadow: 1px 2px 5px #e6e6e6;">
        <div class="container">
            <a class="navbar-brand">
                <i class="fas fa-utensils px-3"></i>
                <span class="" style="font-size: 25px;">PAPADAMS</span>

            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
              <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="font-size:28px;"></i>
              </span>
           </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 px-lg-0 mt-3 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active pe-3" style="font-weight: 500;">{{login}}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 px-lg-0 mt-3 mt-lg-0">
                    <li class="nav-item" style="cursor: pointer;">
                        <a class="nav-link active ps-auto text-danger" style="font-weight: 500;" (click)="logout()">Logout </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="card" style="padding-top:4rem ;">

        <p-table #dt1 [value]="pending" dataKey="oid" [globalFilterFields]="['cemail','iname','icount','iftype']" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-striped" [rowsPerPageOptions]="[5,10,15]">
            <ng-template pTemplate="caption">
                <div class="" style="text-align: end;">
                    <i class="pi pi-search mx-3"></i>
                    <span class="p-input-icon-left ms-auto">
        <input pInputText type="text" (input)="dt1.filterGlobal(getEventValue($event), 'contains')" placeholder="Search keyword" />
        </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Sno</th>
                    <th>Customer Email</th>
                    <th>Item Name</th>
                    <th>Item Count</th>
                    <th>Item type</th>
                    <th pSortableColumn="date">Date & Time
                        <p-sortIcon field="date"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-ri="rowIndex">
                <tr>
                    <td>
                        {{ri+1}}
                    </td>
                    <td>
                        {{product.cemail}}
                    </td>
                    <td>
                        {{product.iname}}
                    </td>
                    <td>
                        {{product.icount}}
                    </td>
                    <td>
                        {{product.iftype}}
                    </td>
                    <td>
                        {{product.date | date:"medium"}}
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="serve(product)">Serve</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>