<form #userform="ngForm" (ngSubmit)="onsubmit(); userform.reset()">

    <div class="row">

        <h3 class="text-center">Add Problem Description</h3>
        <h5>Item name : <span class="text-primary">{{data.product.iname | titlecase}}</span></h5>

        <div class="form-group col-md-12 my-3">
            <label for="#problem" class="mb-1">Problem <span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="problem" #problem="ngModel" [class.is-invalid]="problem.invalid && problem.touched" required [class.is-valid]="problem.valid && problem.dirty" pattern="^([ a-zA-Z0-9,@#$%^&*(),.:;-_]+){2,100}$" name="problem12"
                [(ngModel)]="problem12">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                chef name should be of length 2 to 100 and only space, alphabets, Digits are only accepted.
            </div>
        </div>

        <button [disabled]="userform.form.invalid" class="btn btn-primary col-4 mx-auto my-3">Sumbit Problem</button>
        <button class="btn btn-primary col-4 mx-auto my-3" [mat-dialog-close]>Close</button>


    </div>
</form>