<div class="big-image">
    <div>
        <nav class="navbar navbar-expand-lg fixed-top bg-dark px-3 mb-3" [class.scrollDone]="scrolled" [ngClass]="{'navbar-dark': !scrolled}">
            <div class="container">
                <a class="navbar-brand">
                    <i class="fas fa-utensils px-3"></i>
                    <span class="" style="font-size: 25px;">PAPADAMS</span>

                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                  <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="font-size:28px;" [style.color]="!scrolled ? 'white' : '#0d6efd'" ></i>
                  </span>
               </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 px-lg-0 mt-3 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active pe-3">Home</a>
                        </li>
                        <li class="nav-item">

                            <div class="btn-group">
                                <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none;margin-top: 8px;margin-right: 10px;margin-left: 5px;" [style.color]="!scrolled ? 'white' : '#0d6efd'">
                              Login
                                </a>
                                <ul class="dropdown-menu dropdown-menu-center" style="margin-top: 20px;;">
                                    <li><button class="dropdown-item" type="button" (click)="customerLogin()"><i class="fas fa-users m-2"></i>Customer</button></li>
                                    <li><button class="dropdown-item" type="button" (click)="kitchenMasterLogin()"><i class="fas fa-chess-queen m-2"></i>Kitchen Master</button></li>
                                    <li><button class="dropdown-item" type="button" (click)="superUserLogin()"><i class="fas fa-hands-helping m-2"></i>Supervisor</button></li>
                                    <li><button class="dropdown-item" type="button" (click)="adminLogin()"><i class="fas fa-users-cog m-2"></i>Admin</button></li>
                                </ul>
                            </div>

                        </li>

                        <li class="nav-item">

                            <div class="btn-group">
                                <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none;margin-top: 8px;margin-right: 10px;margin-left: 5px;" [style.color]="!scrolled ? 'white' : '#0d6efd'">
                              Register
                                </a>
                                <ul class="dropdown-menu dropdown-menu-center" style="margin-top: 20px;;">
                                    <li><button class="dropdown-item" type="button" (click)="customerRegister()"><i class="fas fa-users m-2"></i>Customer Registration</button></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="overlay">
        <h1>Your Favorite Place To Eat Food</h1>
        <p>You can find a lot of special items</p>
    </div>
</div>